body {
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.9)),
        url("/images/forest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }
